# /etc/cloudflared/config.yml

tunnel: {{ cloudflare_tunnel_name }}
credentials-file: {{ cloudflare_credentials_file }}

ingress:
  - hostname: {{ cloudflare_hostname }}
    service: https://{{ cloudflare_kali_ip }}:{{ cloudflare_kali_port }}
    originRequest:
      noTLSVerify: true
  - service: http_status:404
